[Unit]
Description=Digital_library_server

[Servise]
Type=simple
WorkingDirectory=/digital_library
User=myunit
Group=myunit
Environment=RACK_ENV=production
OOMScoreAdjust=-100
ExecStart=/usr/bin/python3.4 server.py
ExecReload=/usr/bin/python3.4 server.py
TimeoutSec=300
Restart=always

[Install]
WantedBy=multi-user.target