<form class="form-signin c_title">
	<h2 class="form-signin-heading">Авторизация</h2>
	<p title="" data-toggle="popover" data-placement="right" data-content="Логин или пароль введены неверно" ng-click="hider()">
		<input type="login" class="form-control" placeholder="Логин" autofocus="" ng-model="login">	
		<input type="password" class="form-control" placeholder="Пароль" ng-model="password">
	</p>
	<div class="checkbox">
		<label>
			<input type="checkbox" value="remember-me" ng-model="remember"> Запомнить меня
		</label>
	</div>
	<a class="btn btn-lg btn-success btn-block" type="submit" ng-click="signin()">Войти</a>
	<a class="btn btn-lg btn-primary btn-block" href="#/signup">Зарегистрироваться</a>
</form>