Source: digital-library
Section: unknown
Priority: optional
Maintainer: Igor Tarakanov <igortarakanov144999usa@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/MCL1303/DigitalLibrary
Vcs-Git: git://git@github.com:MCL1303/DigitalLibrary.git
Vcs-Browser: https://github.com/MCL1303/DigitalLibrary

Package: digital-library-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Server
 Digital Library server

Package: digital-library-terminal
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Client
 Digital Library kiosk (terminal client)
