{% extends "layout.html" %}

{% block title %}Добавление книги{% endblock %}

{% block content %}
        <script src="/static/js/jquery.js"></script>
        <div class="row" style="text-align: center;">
        <style>
            .green {
                background-color: #5cb85c;
                color: white;
            }
            .default {
                background-color: #eeeeee;
                color: #555555;
            }
        </style>
        <h2>Шаг 1: Введите информацию о книге</h2>
            <div class="input-group" style="width: 70%; margin: 20px 15%">
                <span class="default input-group-addon" id="code">Введите или отсканируйте штрих код</span>
                <input type="text" class="form-control" id="inputCode">
            </div>
            <div class="input-group" style="width: 70%; margin: 20px 15%">
                <span class=" input-group-addon" id="title">Название</span>
                <input type="text" class="form-control" id="inputTitle">
            </div>

            <div class="input-group" style="width: 70%; margin: 20px 15%">
                <span class="default input-group-addon" id="author">Автор</span>
                <input type="text" class="form-control" id="inputAuthor">
            </div>

            <div class="input-group" style="width: 70%; margin: 20px 15%">
                <span class="default input-group-addon" id="count">Всего книг</span>
                <input type="text" class="form-control"id="inputCount">
            </div>


        <h2>Шаг 2: Выберите обложку книги для</h2>
        <div style="width: 40%; margin: auto;">
            <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                <div style="width: 368px; margin: auto;">
                    <div class="btn-group" role="group" style="margin-top: 20px;">
                        <button type="button" class="btn btn-default" role="presentation" class="active"><a href="#variants" id="variants-tab" role="tab" data-toggle="tab" aria-controls="variants" aria-expanded="true" style="text-decoration: none;">Предложенные</button>
                        <button type="button" class="btn btn-default" role="presentation" class=""><a href="#file" role="tab" id="file-tab" data-toggle="tab" aria-controls="file" aria-expanded="false" style="text-decoration: none;">Файл с компьютера</button>
                        <button type="button" class="btn btn-default" role="presentation" class=""><a href="#url" role="tab" id="url-tab" data-toggle="tab" aria-controls="url" aria-expanded="false" style="text-decoration: none;">По URL</button>
                    </div>
                </div>

                <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="variants" aria-labelledby="variants-tab">
                        <img id="cover" src="" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;">
                        <div style=" margin: 10px; text-align: center;">
                            <button class="btn btn-success">Выбрать</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="file" aria-labelledby="file-tab">
                        <img id="cover" src="" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;">
                        <div style=" margin: 10px; text-align: center;">
                            <button class="btn btn-primary" style="">Загрузить файл</button>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="url" aria-labelledby="url-tab">
                        <img id="cover" src="" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;">
                        <div>
                            <div class="input-group" style="width: 370px; margin: auto;">
                                <span class="default input-group-addon" id="labelUrl">URL</span>
                                <input id="inputUrl" type="text" class="form-control" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div style="margin: 40px;"></div>
            <button class="btn btn-lg btn-success" onclick="check()">Добавить</button>
            <div style="margin: 40px;"></div>
        </div>
        <script>
        $('#inputTitle').on('input', function() {
            if($("#inputTitle")[0].value != "") {
                $("#title").removeClass("default")
                $("#title").addClass("green")
            } else {
                $("#title").removeClass("green")
                $("#title").addClass("default")
            }
        });
        $('#inputAuthor').on('input', function() {
            if($("#inputAuthor")[0].value != "") {
                $("#author").removeClass("default")
                $("#author").addClass("green")
            } else {
                $("#author").removeClass("green")
                $("#author").addClass("default")
            }
        });
        $('#inputCount').on('input', function() {
            if($("#inputCount")[0].value != "" &&
                ~~Number($("#inputCount")[0].value) > 0
                ) {
                $("#count").removeClass("default")
                $("#count").addClass("green")
            } else {
                $("#count").removeClass("green")
                $("#count").addClass("default")
            }
        });
        $('#inputCode').on('input', function() {
            if($("#inputCode")[0].value != "" &&
                $("#inputCode")[0].value.length == 13 &&
                ~~Number($("#inputCode")[0].value) > 0
                ) {
                $("#code").removeClass("default")
                $("#code").addClass("green")
            } else {
                $("#code").removeClass("green")
                $("#code").addClass("default")
            }
        });
        $('#inputUrl').on('input', function() {
            if($("#inputUrl")[0].value != "" &&
                $("#inputCode")[0].value.length == 13 &&
                ~~Number($("#inputCode")[0].value) > 0
                ) {
                $("#lableUrl").removeClass("default")
                $("#labelUrl").addClass("green")
            } else {
                $("#labelUrl").removeClass("green")
                $("#labelUrl").addClass("default")
            }
        });
        </script>
        <script>
            function send_book_data(title, author, count, code, url) {
                $.post(
                    "http://localhost:1303/api/book/add",
                    {title: title, author: author, count: count, code: code, url: url},
                    function(data) {
                        console.log("ok")
                    },
                    "json"
                )
            }
            function check() {
                if(
                    $("#title")[0].className == "input-group-addon green" &&
                    $("#author")[0].className == "input-group-addon green" &&
                    $("#count")[0].className == "input-group-addon green" &&
                    $("#code")[0].className == "input-group-addon green"
                ) {
                    send_book_data(
                        $("#inputTitle")[0].value,
                        $("#inputAuthor")[0].value,
                        $("#inputCount")[0].value,
                        $("#inputCode")[0].value,
                        $("#inputUrl")[0].value
                    )
                }
            }
        </script>
{% endblock %}