<html lang="en"><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/navbar.css" rel="stylesheet">
        <link rel="icon" href="/static/images/icon.png">
        <link rel="shortcut icon" href="/static/images/favicon.ico">
        <link rel="icon" type="image/ico" href="/static/images/favicon.ico">
    <title>Авторизация</title>
  </head>

  <body cz-shortcut-listen="true">
    <div class="container">
      <div class="form-signin" style="width: 30%; margin: auto; margin-top: 200px;">
        <input type="password" id="password" class="form-control" placeholder="Код доступа" required="" autofocus="">
        <button class="btn btn-lg btn-primary btn-block" onclick="send_password()" style="margin-top: 20px;">Войти</button>
      </div>

    </div> 
    <script src="/static/js/jquery.js"></script>
    <script>
    function send_password() {
                $.post(
                    "http://localhost:5000/api/device/auth",
                    {password: $("#password")[0].value},
                    function(data) {
                        return;
                    },
                    "json"
                )
            }
    </script>
</body></html>