{% extends "layout.html" %}

{% block title %}Каталог{% endblock %}

{% block content %}
    {% if user.ptiority == "student" %}
        <div class="row">
            <h3>На руках</h3>
            {% for book in books %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" style="min-height: 470px; max-height: 470px;">
                        <img src="{{ 'http://localhost:5000/static/images/book/small-covers/' + book.id + '.jpg'}}" alt="">
                        <div class="caption" style="padding: 1em 0; text-align: center;">
                            <h3>{{book.title}}</h3>
                            <p>{{book.author}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% if user.priority == "librarian" %}
        <div class="row">
            <div class="input-group" style="width: 50%; margin-left: 25%; margin-right: 25%; margin-bottom: 20px;">
                <input type="text" class="form-control" placeholder="Введите запрос">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Поиск</button>
                </span>
            </div>
            <div id="old">
                {% for book in handedBooks %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail" style="height: 650;">
                            <img src="{{'http://localhost:5000/static/images/book/small-covers/' + book.id + '.jpg'}}" alt="">
                            <div class="caption" style="padding: 1em 0; text-align: center;">
                                <h4>{{book.title}}</h4>
                                <p>{{book.author}}</p>
                                <div style="position: absolute; bottom: 30px;">
                                    <p>Дольше всех ( {{book.old}} {{inflect(book.old, "день", "дня", "дней")}}) книга на руках у </p>
                                    <a href="/users/{{book.oldOwner}}" class="btn btn-default" style="margin-bottom: 5px;">{{book.oldOwnerNameInRP}}</a>
                                    <p>{{book.handed}}{{inflectPro(book.handed, "экземпляр", "экземпляра", "экземпляров")}} выдано</p>
                                    <p>Осталось {{book.count - book.handed}}{{inflectPro(book.count - book.handed, "экземпляр", "экземпляра", "экземпляров")}}</p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change" style="margin: 0px 20px 10px 20px"clicked="change_book(book.id, book.title, book.author, book.count, book.code)">
                                          Изменить информацию о книге
                                    </button>
                                    <button class="btn btn-danger">Удалить книгу</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
                <div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Изменение информации о книге</h4>
                            </div>
                        <div class="modal-body">
                        <div class="row">
                            <div class="content" style="text-align: center;">
                                <img id="cover" src="{{ 'http://localhost:5000/static/images/book/large-covers/' + editBook.id + '.jpg'}}" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;" id="image">
                            </div>

                            <div class="input-group" style="width: 70%; margin: 20px 15%">
                                <span class=" input-group-addon" id="title" value="{{editBook.title}}">Название</span>
                                <input type="text" class="form-control" id="inputTitle">
                            </div>

                            <div class="input-group" style="width: 70%; margin: 20px 15%">
                                <span class="default input-group-addon" id="author" value="{{editBook.author}}">Автор</span>
                                <input type="text" class="form-control" id="inputAuthor">
                            </div>

                            <div class="input-group" style="width: 70%; margin: 20px 15%">
                                <span class="default input-group-addon" id="count" value="{{editBook.count}}">Всего книг</span>
                                <input type="text" class="form-control"id="inputCount">
                            </div>

                            <div class="input-group" style="width: 70%; margin: 20px 15%">
                                <span class="default input-group-addon" id="code" value="{{editBook.code}}">Введите или отсканируйте штрих код</span>
                                <input type="text" class="form-control" id="inputCode">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary">Сохранить изменеия</button>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/js/jquery.js"></script>
        <script>
        function change_book(id, title, author, count, code) {
            $("#image").src = 'http://localhost:5000/static/images/book/large-covers/' + id + '.jpg'
            $("#inputTitle").val = title
            $("#inputAuthor").val = author
            $("#inputCount").val = count
            $("#inputCode").val = code
        }
        $('#inputTitle').on('input', function() {
            if($("#inputTitle")[0].value != "") {
                $("#title").removeClass("default")
                $("#title").addClass("green")
            } else {
                $("#title").removeClass("green")
                $("#title").addClass("default")
            }
        });
        $('#inputAuthor').on('input', function() {
            if($("#inputAuthor")[0].value != "") {
                $("#author").removeClass("default")
                $("#author").addClass("green")
            } else {
                $("#author").removeClass("green")
                $("#author").addClass("default")
            }
        });
        $('#inputCount').on('input', function() {
            if($("#inputCount")[0].value != "" &&
                ~~Number($("#inputCount")[0].value) > 0
                ) {
                $("#count").removeClass("default")
                $("#count").addClass("green")
            } else {
                $("#count").removeClass("green")
                $("#count").addClass("default")
            }
        });
        $('#inputCode').on('input', function() {
            if($("#inputCode")[0].value != "" &&
                $("#inputCode")[0].value.length == 13 &&
                ~~Number($("#inputCode")[0].value) > 0
                ) {
                $("#code").removeClass("default")
                $("#code").addClass("green")
            } else {
                $("#code").removeClass("green")
                $("#code").addClass("default")
            }
        });
        </script>
    {% endif %}
    {% if device == "terminal" %}
    	<script>
    		window.location.href = "http://localhost:5000/operations"
    	</script>
    {% endif %}
{% endblock %}
