{% extends "layout.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
    <script src="/static/js/jquery.js"></script>

    <script>
        function change_book(id, title, author, count, code) {
            $("#cover")[0].src = '/static/images/book/large-covers/' + id + '.jpg';
            $("#inputTitle")[0].value = title;
            $("#inputAuthor")[0].value = author;
            $("#inputCount")[0].value = count;
            $("#inputCode")[0].value = code;
        }
    </script>

    {% if user.priority == 'student' %}
        <div class="row">
            <h3>Должно понравиться</h3>
            {% for book in books %}
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail" style="min-height: 470px; max-height: 470px;">
                        <img src="/static/images/book/small-covers/{{ book.id }}.jpg" alt="">
                        <div class="caption" style="padding: 1em 0; text-align: center;">
                            <h3 style="">{{book.title}}</h3>
                            <p>{{book.author}}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if user.priority == "librarian" %}
        <div class="row">
        <h3>Просроченные</h3>
            <div id="old">
                {% for book in handedBooks %}
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail" style="height: 650;">
                            <img src="/static/images/book/small-covers/{{ book.id }}.jpg" alt="">
                            <div class="caption" style="text-align: center;">
                                <h4>{{book.title}}</h4>
                                <p>{{book.author}}</p>
                                <div style="position: absolute; bottom: 30px; left: 50px; right: 50px;">
                                    <p>Дольше всех ( {{book.old}} {{inflect(book.old, "день", "дня", "дней")}}) книга на руках у </p>
                                    <a href="/users/{{book.oldOwner}}" class="btn btn-default" style="margin-bottom: 5px;">{{book.oldOwnerNameInRP}}</a>
                                    <p>{{book.handed}}{{inflectPro(book.handed, "экземпляр", "экземпляра", "экземпляров")}} выдано</p>
                                    <p>Осталось {{book.count - book.handed}}{{inflectPro(book.count - book.handed, "экземпляр", "экземпляра", "экземпляров")}}</p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#change" style="margin: 0px 20px 10px 20px" onclick="change_book('{{book.id}}', '{{book.title}}', '{{book.author}}', '{{book.count}}', '{{book.code}}')">
                                          Изменить информацию о книге
                                    </button>
                                    <button type="button" class="btn btn-danger">Удалить книгу</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
                <div class="modal fade" id="change" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Изменение информации о книге</h4>
                            </div>
                        <div class="modal-body">
                        <div class="row">
                            <div class="content" style="text-align: center;">
                                <img id="cover" src="{{ 'http://localhost:5000/static/images/book/large-covers/' + editBook.id + '.jpg'}}" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;">
                            </div>

                            <div class="input-group" style="width: 70%; margin: 20px 15%">
                                <span class=" input-group-addon" id="title">Название</span>
                                <input type="text" class="form-control" id="inputTitle" value="{{editBook.title}}">
                            </div>

                            <div class="input-group" style="width: 70%; margin: 20px 15%">
                                <span class="default input-group-addon" id="author">Автор</span>
                                <input type="text" class="form-control" id="inputAuthor" value="{{editBook.author}}">
                            </div>

                            <div class="input-group" style="width: 70%; margin: 20px 15%">
                                <span class="default input-group-addon" id="count">Всего книг</span>
                                <input type="text" class="form-control"id="inputCount" value="{{editBook.count}}">
                            </div>

                            <div class="input-group" style="width: 70%; margin: 20px 15%">
                                <span class="default input-group-addon" id="code">Введите или отсканируйте штрих код</span>
                                <input type="text" class="form-control" id="inputCode" value="{{editBook.code}}">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                        <button type="button" class="btn btn-primary">Сохранить изменеия</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
        $('#inputTitle').on('input', function() {
            if ($("#inputTitle")[0].value != "") {
                $("#title").removeClass("default");
                $("#title").addClass("green");
            } else {
                $("#title").removeClass("green");
                $("#title").addClass("default");
            }
        });
        $('#inputAuthor').on('input', function() {
            if ($("#inputAuthor")[0].value != "") {
                $("#author").removeClass("default");
                $("#author").addClass("green");
            } else {
                $("#author").removeClass("green");
                $("#author").addClass("default");
            }
        });
        $('#inputCount').on('input', function() {
            if (
                $("#inputCount")[0].value != "" &&
                ~~Number($("#inputCount")[0].value) > 0
            ) {
                $("#count").removeClass("default");
                $("#count").addClass("green");
            } else {
                $("#count").removeClass("green");
                $("#count").addClass("default");
            }
        });
        $('#inputCode').on('input', function() {
            if (/^\d{13}$/.test($("#inputCode")[0].value)) {
                $("#code").removeClass("default");
                $("#code").addClass("green");
            } else {
                $("#code").removeClass("green");
                $("#code").addClass("default");
            }
        });
        </script>
    {% endif %}
{% endblock %}
