{% extends "layout.html" %}

{% block title %}Мои книги{% endblock %}

{% block content %}
    {% if user.ptiority != "librarian" %}
        <div class="row">
            {% for i in range(handlogLen) %}
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon2" style="width: 5%;">{{handlog[handlogLen - i - 1].datetime}}</span>
                <span class="input-group-addon" id="basic-addon2" style="width: 10%;">{{handlog[handlogLen - i - 1].RuAction}}</span>
                <span class="input-group-addon" id="basic-addon2" style="width: 30%;">{{handlog[handlogLen - i - 1].RuBook}}</span>
                <span class="input-group-addon" id="basic-addon2" style="width: 20%;">{{handlog[handlogLen - i - 1].RuName}}</span>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <script>
            window.location.href = "http://localhost:5000/"
        </script>
    {% endif %}
    {% if device == "terminal" %}
        <script>
            window.location.href = "http://localhost:5000/operations"
        </script>
    {% endif %}
{% endblock %}
