{% extends "layout.html" %}

{% block title %}Мои книги{% endblock %}

{% block content %}
    <div class="row">
        {% for i in range(len) %}
        <div class="input-group" style="width: 100%;">
            <span class="input-group-addon" id="basic-addon2" style="width: 15%;">{{handlog[len - i - 1].datetime_str}}</span>
            <span class="input-group-addon" id="basic-addon2" style="width: 30%;">{{handlog[len - i - 1].user_name}}</span>
            <span class="input-group-addon" id="basic-addon2" style="width: 15%;">{{handlog[len - i - 1].action_ru_name}}</span>
            <span class="input-group-addon" id="basic-addon2" style="width: 40%;">{{handlog[len - i - 1].book_title}}</span>
        </div>
        {% endfor %}
    </div>
{% endblock %}
