{% macro inflect(n, form1, form2, form5) -%}
    {% if n % 10 == 1 %}
        {{form1}}
    {% elif n % 10 in [2, 3, 4] %}
        {{form2}}
    {% else %}
        {{form5}}
    {% endif %}
{%- endmacro %}

<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{% block title %}{% endblock %}</title>
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/navbar.css" rel="stylesheet">
        <link rel="icon" href="/static/images/icon.png">
    </head>

    <body cz-shortcut-listen="true">
        {% if device == "terminal" %}
        {% else %}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                        <a class="navbar-brand" href="/">Библиотека МХЛ</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% macro active_if(tname) -%}
                            {{ 'active' if template_name == tname else '' }}
                        {%- endmacro %}

                        <li class="{{active_if('handed')}}"><a href="/handed">Мои книги</a></li>
                        <li class="{{active_if('books')}}"><a href="/books">Каталог</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <div class="dropdown" style="margin: 6%;">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{user.name}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <li><a href="/handed">На руках {{booksLen}} {{inflect(booksLen, 'книга', 'книги', 'книг')}}</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="">Выход</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% endif %}

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.js"></script>
    </body>
</html>
