{% extends "layout.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="row">
    <link href="/static/css/signin.css" rel="stylesheet">
    <div class="form-signin text-center">
        <h2 class="form-signin-heading">Авторизаия</h2>
        <input id="login" type="text" name="login" class="form-control text-center" placeholder="Логин" required="" autofocus="">
        <input id="password" type="password" name="password" class="form-control text-center" placeholder="Пароль" required="">
        <div class="checkbox">
            <label>
                <input id="checkbox" type="checkbox" name="remember-me"> Запомнить меня
            </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" onclick="send_data()">Войти</button>
        <a class="btn btn-lg btn-primary btn-block" href="registration">Зарегистрироваться</a>
        {% if device == "terminal" %}
            <p class="btn btn-lg btn-info btn-block">Или приложите карту к сканеру</p>
        {% endif %}
        <div class="alert alert-danger alert-dismissible fade" style="margin-top: 20px;" id="alert">
            <h4>Не правильно указан логин или пароль</h4>
            <p>Проверьте раскладку клавиатуры и не нажата ли клавиша Caps Lock</p>
        </div>
        <script src="/static/js/jquery.js"></script>
        <script>
            function send_data() {
                $.post(
                    "/api/user/login",
                    {
                        login: $("#login")[0].value,
                        password: $("#password")[0].value,
                        remember: $("#checkbox")[0].checked
                    },
                    function(data) {
                        if (data.answer == "ok") {
                            window.location.replace("http://localhost:1303");
                        } else {
                            $("#alert")[0].className += "in"
                        }
                    },
                    "json"
                )
            }
        </script>
    </div>
</div>
{% endblock %}
