{% extends "layout.html" %}

{% block title %}Взять/Вернуть книги{% endblock %}

{% block content %}
    <div class="row">
        <div class="content" style="text-align: center;">
            <h2>Отсканируйте штрих код книги и приложите карту к сканеру, чтобы взять или вернуть её</h2>
            <img id="cover" src="" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;">
            <h2 id="status">Статус операции</h2>
        </div>
        <script>
            function send(user, book) {
                $.post(
                    "http://localhost:1303/api/book/action",
                    {user: user, book: book},
                    function(data) {
                        $("#cover").attr(
                            'src',
                            "http://localhost:1303/static/images/book/large-covers/" +
                                book + ".jpg"
                        );
                        console.log(book)
                        if (data.action == "Take") {
                            $("#status").text("Вы взяли книгу");
                        } else if (data.action == "Return") {
                            $("#status").text("Вы вернули книгу");
                        } else if (data.action == "Fail") {
                            $("#status").text("Ошибка. Попробуйте еще раз");
                        }
                    },
                    "json"
                )
            }
        </script>
    </div>
{% endblock %}
