<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Взять/Вернуть книги</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/navbar.css" rel="stylesheet">
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <link rel="icon" type="image/ico" href="/static/images/favicon.ico">
</head>
<body>
    <div class="row">
        <div class="content" style="text-align: center;">
            <h2>Отсканируйте штрих код книги и приложите карту к сканеру, чтобы взять или вернуть её</h2>
            <img id="cover" src="" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;">
            <h2 id="status">Статус операции</h2>
        </div>
        <div class="modal fade" id="InviteModal" tabindex="-1" role="dialog" aria-labelledby="InviteModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" style="text-align: center;">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                        <h4 class="modal-title" id="InviteModalLabel" style="margin: auto;">Ура, новый пользователь!</h4>
                    </div>
                    <div class="modal-body" style="text-align: center;">
                        <p>Ваш пригласительный код: 
                        <h2 id="inviteCode">asd</h2>
                        </p>
                        <p>Запишите его и приложите карточку еще раз, чтобы никто не украл ваш пригласительный код</p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var current_book = "", waiting = 0
            function timer() {
                flag = false
                time = 5
                for (var i = 5; i >= 0; i--) {
                    setTimeout(function() {
                        if(waiting == time) {
                            $("#status")[0].innerHTML = "Ожидание карты(Осталось " + time.toString() + " сек)";
                            if(time == 0) {
                                $("#status")[0].innerHTML = "Ожидание штрих кода";
                                current_book = ""
                            }
                            waiting--;
                        }
                        time--;
                    }, 1000 * (5 - i))
                }
            }
            function run_timer() {
                $.post(
                    "http://localhost:1303/api/book/check",
                    {book: current_book},
                    function(data) {
                        if (data.answer == "ok") {
                            $("#cover")[0].src = "http://localhost:1303/static/images/book/large-covers/" + current_book + ".jpg"
                            timer()
                        } else {
                          $("#status")[0].innerHTML = "Книга не найдена"
                          waiting = 0
                        }
                    },
                    "json"
                )
            }
            function barcode(barcode) {
                current_book = barcode
                waiting = 5
                run_timer()
            }
            function user(user) {
                $.post(
                    "http://localhost:1303/api/user/add",
                    {user: user},
                    function(data) {
                        if (data.answer == "Done") {
                            $("#inviteCode")[0].innerHTML = data.code;
                            $("#InviteModal").modal();
                        } else {
                          $("#InviteModal").modal("hide");

                        }
                    },
                    "json"
                )
            }
        </script>
    </div>
</body>