{% extends "layout.html" %}

{% block title %}Взять/Вернуть книги{% endblock %}

{% block content %}
    <div class="row">
        <div class="content" style="text-align: center;">
            <h2>Введите штрих код книги и приложите карту к скканеру, чтобы взять или вернуть её</h2>
            <div class="input-group" style="width: 70%; margin: 20px 15%">
                <span class=" input-group-addon" id="code" value="">Цифры штрих кода</span>
                <input type="text" class="form-control" id="inputCode">
            </div>
            <img id="cover" src="" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px;">
            <h2 id="status">Статус операции</h2>
        </div>
        <script>
            $('#inputCode').on('input', function() {
                if($("#inputCode")[0].value != "" &&
                    $("#inputCode")[0].value.length == 13 &&
                    ~~Number($("#inputCode")[0].value) > 0
                    ) {
                    $("#code").removeClass("default")
                    $("#code").addClass("green")
                } else {
                    $("#code").removeClass("green")
                    $("#code").addClass("default")
                }
            });
            function send_scanner_data(user) {
                $.post(
                    "http://localhost:1303/api/book/action",
                    {user: user, book: $("#inputCode")[0].value},
                    function(data) {
                        $("#cover").attr(
                            'src',
                            "http://localhost:1303/static/images/book/large-covers/" +
                                data.book + ".jpg"
                        );
                        if (data.action == "Take") {
                            $("#status").text("Вы взяли книгу");
                        } else {
                            $("#status").text("Вы вернули книгу");
                        }
                    },
                    "json"
                )
            }
        </script>
    </div>
{% endblock %}
