{% extends "layout.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
	<div class="row">
	    <link href="/static/css/signin.css" rel="stylesheet">
	    <div class="form-signin text-center">
	        <h2 class="form-signin-heading">Регистрация</h2>
	        <input id="inviteCode" type="text" class="form-control text-center" placeholder="Пригласительный код" required="" autofocus="">
	        <input id="email" type="email" class="form-control text-center" placeholder="Почта" required="">
	        <input id="login" type="text" class="form-control text-center" placeholder="Логин" required="">
	        <input id="password" type="password" class="form-control text-center" placeholder="Пароль" required="">
	        <button class="btn btn-lg btn-success btn-block" onclick="send_data()">Зарегестрироваться</button>
	        <div class="alert alert-danger alert-dismissible fade" style="margin-top: 20px;" id="alert">
	            <h4>Не правильно указан пришласительный код</h4>
	            <p>Проверьте не пепрепутали ли вы 0 и O</p>
	        </div>
	        <script src="/static/js/jquery.js"></script>
	        <script>
	            function send_data() {
	                $.post(
	                    "http://localhost:1303/api/registration",
	                    {
	                    	inviteCode: $("#inviteCode")[0].value,
	                    	email: $("#email")[0].value,
	                    	login: $("#login")[0].value,
	                    	password: $("#password")[0].value
						},
	                    function(data) {
	                        if (data.answer == "ok") {
	                            window.location.replace("http://localhost:1303");
	                        } else {
	                            $("#alert")[0].className += "in"
	                        }
	                    },
	                    "json"
	                )
	            }
	        </script>
        </div>
	</div>
{% endblock %}
