{% macro c_class(type) -%}
{% if type == "student" %}
{% if searched_user.accessLevel == "Student" %}
{{'btn-primary'}}
{% else %}
{{'btn-default'}}
{% endif %}
{% else %}
{% if searched_user.accessLevel == "Librarian" %}
{{'btn-primary'}}
{% else %}
{{'btn-default'}}
{% endif %}
{% endif %}
{%- endmacro %}
{% extends "layout.html" %}
{% block title %}{{user.name}}{% endblock %}
{% block content %}
<style>
    .error{
    background-color: #c9302c;
    color: #fff;
    }
</style>
<div class="content" style="text-align: center;">
    <h2>{{searched_user.name}}</h2>
    <img id="cover" src="{{searched_user.image}}" alt="" class="img-thumbnail", style="width: 370px; height: 500px; margin-top: 30px; margin-bottom: 30px;">
    <div style="width: 400px; heigth: 200px; margin: auto;">
        <div class="input-group" style="width: 370px; margin-top: 3%; margin: auto;">
            <span class="default input-group-addon" id="labelUrl">URL фото</span>
            <input id="inputUrl" type="text" class="form-control" placeholder="">
            <span id="save" class="btn btn-default input-group-addon" onclick="photo_user()" style="cursor: pointer;">Сохранить</span>
        </div>
        <h3>Должность: </h3>
        <div class="btn-group" role="group" aria-label="...">
            <p id="student" type="button" class="btn {{c_class('student')}}" style="font-size: 25px;" onclick="down_user()">Ученик</p>
            <p id="librarian" type="button" class="btn {{c_class('librarian')}}" style="font-size: 25px;" onclick="up_user()">Библиотекарь</p>
        </div>
    </div>
    <h3>Выдано книг: {{searched_user.handed}}</h3>
    <div class="row">
        {% for book in searched_user.books %}
        <div class="col-sm-6 col-md-4" id="{{book.barcode}}">
            <div class="thumbnail" style="height: 520px;">
                <img src="{{'http://localhost:1303/static/images/book/small-covers/' + book['barcode'] + '.jpg'}}" alt="">
                <div class="caption" style="text-align: center; padding: 3em 0;">
                    <a href="http://localhost:1303/books/{{book.barcode}}">
                        <h2>{{book.title}}</h2>
                    </a>
                    <p>{{book.author}}</p>
                    <h4>На руках уже {{book.days}} {{inflect(book.days, "день", "дня", "дней")}}</h4>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<script>
    var level;
    if('{{searched_user.accessLevel}}' == 'Librarian') {
      level = 1
    } else {
      level = 0
    }
    function up() {
      if(level == 0) {
          $("#student").removeClass()
          $("#student").addClass("btn btn-default")
          $("#librarian").removeClass()
          $("#librarian").addClass("btn btn-primary")
          level = 1
      }
    }
    function down() {
      if(level == 1) {
          $("#librarian").removeClass()
          $("#librarian").addClass("btn btn-default")
          $("#student").removeClass()
          $("#student").addClass("btn btn-primary")
          level = 0
      }
    }
    function up_user() {
        $.post(
            "http://localhost:1303/api/user/up",
            {id: '{{searched_user.id}}'},
            function(data) {
              if(data.answer == "ok") {
                up()
              }
            },
            "json"
        )
    }
    function down_user() {
        $.post(
            "http://localhost:1303/api/user/down",
            {id: '{{searched_user.id}}'},
            function(data) {
              if(data.answer == "ok") {
                down()
              }
            },
            "json"
        )
    }
    function photo_user() {
        $.post(
            "http://localhost:1303/api/user/photo",
            {id: '{{searched_user.id}}', url: $("#inputUrl")[0].value},
            function(data) {
              if(data.answer == "ok") {
                location.reload();
              } else {
                $("#save").removeClass("btn-default");
                $("#save").addClass("btn-danger error");
              }
              $('#inputUrl').on('input', function() {
                  $("#save").removeClass("btn-danger error");
                  $("#save").addClass("btn-default");
              });
            },
            "json"
        )
    }
    
</script>
{% endblock %}