{% extends "layout.html" %}

{% block title %}Мои книги{% endblock %}

{% block content %}
      <style>
        .hider {
          display: none;
        }
      </style>
      <script src="/static/js/jquery.js"></script>
      <script>
      function new_request() {
          $.post(
              "http://localhost:1303/api/user/get",
              {request: $("#input")[0].value},
              function(data) {
                  if(data.results.length == 0) {
                    $("#fail")[0].innerHTML = "Поиск не дал результатов";
                  } else {
                    for(var i = 0; i < 9; i++) {
                      $("#user_" + i.toString())[0].removeClass("hider")
                    }
                    for(var i = 0; i < 9 && i < data.results.length; i++) {

                      $("#user_image_" + i.toString())[0]
                    }
                  }
              },
              "json"
          )
      }
      </script>
      <div class="row">
          <div class="input-group" style="width: 50%; margin-left: 25%; margin-right: 25%; margin-bottom: 20px;">
              <input id="input" type="text" class="form-control" placeholder="Введите запрос">
              <span class="input-group-btn">
                  <button class="btn btn-default" type="button" onclick="new_request()">Поиск</button>
              </span>
          </div>
          <div style="width: 50%; margin-left: 25%; margin-right: 25%; margin-bottom: 20px; text-align: center;">
              <h4 id="fail"></h4>
          </div>
          {% for i in range(9) %}
          <div class="col-sm-6 col-md-4" id="user_{{i}}">
              <div class="thumbnail" style="height: 470px;">
                  <img id="user_image_{{i}}" src="" alt="">
                  <div class="caption" style="padding: 1em 0; text-align: center;">
                      <a id="user_profile_{{i}}"><h3 style=""></h3></a>
                      <p id="user_handed_{{i}}">На руках</p>
                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
{% endblock %}
