<br>
<br>
<br>

<div class="row">
	<div class="col-md-4">
		<img style="width: 100%" ng-src="{{book.image}}">
	</div>
	<div class="col-md-8 c_title">
		<h2 ng-class="{'hider': titleEditing}">{{book.title}} <img src="edit.png" class="pointer" data-toggle="tooltip" data-placement="right" title="Редактировать" ng-click="editTitle()"></h2>
		<div ng-class="{'hider': !titleEditing}" style="margin: 24px;" data-toggle="popover" data-placement="top" data-content="Название не может быть пустым" id="titleErr">
			<input type="text" class="form-control" style="float: left;" ng-model="titleEdited"> <span style="margin-left: -35px;"><a class="pointer"><img src="save.png" style="margin-top: 4px;" ng-click="saveTitle()"></a></span>
		</div>
		<h3>{{book.author}}</h3>
		<h4>Всего книг: {{book.count}}</h4>
		<h4>Выдано: {{book.handed}}</h4>
		<h4>Осталось: {{book.count - book.handed}}</h4>
		<br>
		<h2 ng-class="{'hider': book.handed == 0}">На руках у:</h2>
		<br>
		<div class="c_title Xscrollable row">
			<div style="display: inline-block;" ng-repeat="user in book.handers">
				<img ng-src="{{user.user_image}}" alt="" style="background-size: 100%;">
				<br>
				<h3 style="width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="#/users/{{user.user_id}}">{{user.user_name}}</a></h3>
			</div>
			<div ng-class="{'hider': book.handed != 0}">
				<h1>Все экземпляры в библиотеке</h1>
			</div>
		</div>
	</div>
</div>