<div class="row">
	<div class="input-group" style="width: 50%; margin: auto;">
		<input type="text" class="form-control" placeholder="Поиск" aria-describedby="basic-addon1" ng-model="request">
	</div>
	<br>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Дата</th>
				<th>Ученик</th>
				<th>Действие</th>
				<th>Книга</tr>
			</th>
		</thead>
		<tbody>
			<tr ng-repeat="log in rootScope.handlog | filter:request">
				<th>{{log.datetime}}</th>
				<th>{{log.student_name}}</th>
				<th>{{log.action}}</th>
				<th>{{log.book_title}}</tr>
			</th>
		</tbody>
	</table>
	<div class='c_title'>
	<a class="btn btn-primary" ng-click="get_older()" ng-class="{'hider': !rootScope.handlog_more}">Показать еще</a>
		
	</div>
	<br>
	<br>
	<br>
	<br>
</div>