<br>
<br>
<br>

<div class="row">
	<div class="col-md-4">
		<img style="width: 100%" ng-src="{{user.image}}">
	</div>
	<div class="col-md-8 c_title">
		<h2>{{user.name}}</h2>
		<h4>На руках: {{user.handed}}</h4>
		<br>
		<h2 ng-class="{'hider': user.handed == 0}">На руках:</h2>
		<br>
		<div class="c_title Xscrollable row">
			<div style="display: inline-block;" ng-repeat="book in user.books">
				<img ng-src="{{book.book_image}}" alt="" style="background-size: 100%;">
				<br>
				<h3 style="width: 300px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"><a href="#/books/{{book.book_id}}">{{book.book_title}}</a></h3>
			</div>
			<div ng-class="{'hider': user.handed != 0}">
				<h1>На руках нет книг</h1>
			</div>
		</div>
	</div>
	<!-- <pre>
		{{user | json}}
	</pre> -->
</div>